$color:white;

.body__container {
    display: flex;
}

.header{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 700px;
    background-image: url('../assets/images/backmain.jpg');
    color: $color;
}

.header-logotext{
    width: 300px;
    height: 120px;
    background-color: rgba(8, 8, 130, 0.363);
    padding: 10px 0px 0px 10px;

.header-logotext__logo-name{
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
        height: 50px;
        width: 80px;
        border-radius: 10px;
    }
    .header-logotext__name{
        font-weight: 700;
        font-size: 30px;
        padding: 0px 0px 0px 10px;
    }
}

.header-logotext__slogan{
    padding: 10px 0px 0px 0px;
    font-size: 18px;
    text-align: center;
}
}

.header-search{
    display: flex;
    padding: 20px 10px 0px 10px;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px 0px 0px;
}


.filter-vacancy{
    margin: 50px 0px 0px 0px;
    font-size: 15px;
}


.filter-vacancy__filter-title{
    padding: 10px 0px 10px 10px;
    font-weight: 500;
    font-size: 20px;
    &:hover {
        background-color: rgba(255, 255, 255, 0.526);
    }
    &:active{
        background-color: rgba(10, 10, 112, 0.347);
    }
}

.filter-vacancy__filter-sectitle{
    padding: 10px 0px 10px 10px;
    background-color: rgba(10, 10, 112, 0.347);
    font-weight: 500;
    font-size: 20px;
    display: none;
    &:hover {
        background-color: rgba(255, 255, 255, 0.526);
    }
}

.filter-vacancy__typies{
    display: none;
    margin: 0px 0px 0px 10px;
}



.filter-vacancy__title{
    font-weight: 500;
}

.filter-vacancy__cities{
    display: flex;
    flex-direction: column;
}

.filter-vacancy__city{
    padding: 0px 0px 10px 10px;
    &:last-child{
        padding: 0px 0px 0px 10px;
    }
}

.filter-vacancy__points{
    width: 270px;
    height: 40px;
    border: 1px solid $light-gray;
    border-radius: 10px;
}

.filter-vacancy__input-salary{
    width: 98px;
    border: 1px solid $light-gray;
    border-radius: 10px;
}

.filter-vacancy__point{
    width: 270px;
    display: flex;
    justify-content: space-between;
    margin: 5px 0px 0px 0px;
}

.filter-vacancy__change,
.filter-vacancy__throwoff {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border: 1px solid $main-color;
    border-radius: 10px;

    &:hover {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        background-color: rgb(37, 103, 202);
        color: white;
    }

    &:active{
        background-color: rgb(31, 75, 140);
        color: white;
    }
}

.filter-vacancy__throwoff {
    margin: 10px 0px 0px 0px;
}



.search-container__card {
    border: 1px solid;
    width: 500px;
    height: 100px;
}