.page-searching-applicants {
    background-color: #F7F9FC;
    font-family: 'Roboto';
}
#content-appl {
    width: 100%;
    padding: 5px 20px 20px 20px;
    transition: all 0.3s;
}
.searching {
    width: 100%;
    display: flex;
    align-items: stretch;
}
.searching__form {
flex-grow: 1;
}

.logo-vaca img {
    width: 100px;
}
.navbar-apl {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
.header__second-appl {
    font-size: 1.3em;
}
.subtitle__apllsearch {
    font-size: 1em;
    font-weight: 500;
}
.searching__filters {
    background-color: #fff;
    box-shadow: $cardsshadow;
    border-radius: 4px;
    justify-self: flex-start;
}
.search__card{
    max-width: 700px;
    margin-top: 20px;
    padding: 20px;
    border: 1px rgb(206, 206, 206) solid;
    box-shadow: 15px 10px 20px 10px rgb(240, 240, 240);
    border-radius: 10px;
}


.search__card-subtitle {
    font-size: 12px;
    color: #686868;
    line-height: 19px
}


.filter-vacancy__filter-title{
    padding: 10px 0px 10px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.filter-vacancy__title{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0px 0px 0px;
}

.filter-vacancy__cities {
    width: 100%;
    height: 40px;
    border: 1px solid $light-gray;
    border-radius: 10px;
    &:hover{
        cursor: pointer;
    }
}

.filter-vacancy__card-input {
    &:hover{
        cursor: pointer;
    }
}

.filter-vacancy__input-salary{
    max-width: 49%;
    border: 1px solid $light-gray;
    border-radius: 10px;
    padding: 2px 10px;
}

.filter-vacancy__point{
    max-width: 240px;
    display: flex;
    justify-content: space-between;
    margin: 5px 0px 0px 0px;
}

.search__card {
    max-width: 100%;
    margin-top: 20px;
    padding: 20px;
    border: 1px rgb(206, 206, 206) solid;
    box-shadow: 15px 10px 20px 10px rgb(240, 240, 240);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}


.filter-vacancy__btns{
    margin: 10px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-vacancy__change,
.filter-vacancy__throwoff {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin: 20px 0px 0px 0px;
    &:hover {
        cursor: pointer;
    }
}

.filter-vacancy__throwoff {
    margin: 10px 0px 0px 0px;
    color: white;
    background-color:  rgb(162, 73, 164);
    &:hover {
        background-color: rgb(135, 56, 136);
    }

    &:active{
        background-color: rgb(102, 30, 103);
    }
}

.filter-vacancy__change {
    background-color:rgb(0, 102, 255);
    color: white;
        &:hover {
            background-color: rgb(34, 100, 198);
        }
    
        &:active{
            background-color: rgb(10, 71, 162);
        }
}


@media only screen and (min-width: 767.1px) {
  .filter1 {
    display: none;
  }
} 
@media only screen and (max-width: 767.1px) {
    .fiter {
        display: none;
    }
    .fiter1 {
        display: block;
        background-color: #fff;
        box-shadow: $cardsshadow;
        border-radius: 4px;
    }
    .container-searching__mobile {
        display: flex;
        flex-direction: column;
    }
    .filter-vacancy__all1,
    .searching__filters{
    display: none;
    }
    .btnvacafilter1 {
        text-align: center;
        background-color: #fff;
        box-shadow: $cardsshadow;
        border-radius: 4px;
    }

    .filter-vacancy__all1 {
        background-color: #fff;
        box-shadow: $cardsshadow;
        border-radius: 4px;
    }

    .filter-vacancy__type {
        padding: 0px 50px 0px 50px;
    }

    .filter-vacancy__point1 {
        display: flex;
        justify-content: space-between;
        margin: 5px 0px 0px 0px;
        max-width: 400px;
    }

} 






