$main-color: rgb(1, 71, 175);
$minor-color:#06f;
$deep-gray: #333;
$light-gray: #BDBDBD;
$background: #E5E5E5;

@font-face {
    font-family: 'Roboto';
    src:  url('/fonts/Robotolight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:  url('/fonts/Roboto.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:  url('/fonts/Robotomedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:  url('/fonts/Robotobold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}