.wrapper{
    background-image: url('../../../assets/images/backmain.jpg');
    background-size: cover;
    
    .header{
        display: flex;

.header__box{
    display: flex;
    
    margin-top: 20px;
    justify-content: end;
    
}

    .header__login{
        width: 24px;
        margin-left: 10px;
    }

    .header__lang{
        text-decoration: none;
        color: black;
        font-size: 18px;
    }
}

.header__title{
    font-family:'Roboto';
    font-weight: 700;
    font-size: 2rem;
    color: white;
    letter-spacing: 2px;
    margin-top: 5%;
}

.header__subtitle{
    font-family:'Roboto';
    font-weight: 300;
    font-size: 3rem;
    margin-bottom: 2%;
    padding-top: 1%;
    color: $deep-gray;
    
}

.header__subtitle {
    animation: myAnim 4s ease-out 0s 1 normal none;
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}

.header__border{
    width: 17%;
    margin: 0 auto;
    border-bottom: solid 2px rgba(255, 255, 255, 0.459);
    
}

}

.button-main{
    align-self: center;
    font-family: 'Arial';
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.2rem;
    margin-top: 7%;
    width: 18em;
    height: 6em;
    border-radius: 3px;
    background-color: white;
    color: $deep-gray;
    border: none;
}

.btn-title{
    align-self: center;
    justify-self: center;
}



.header__block{
    margin-bottom: 30%;
}

